.input {
  width: 100%;
  background-color: #222222;
  border: 0.2rem solid #434343;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  margin-bottom: 3rem;
  transition: all 0.2s;
}

.input::placeholder {
  color: #9f9f9f;
}

.input:focus {
  background-color: #292929;
  border-color: #626262;
}
