@import "styles/utilities/variables";

.noTodo {
  font-size: 1.6rem;
  text-align: center;
  padding: 4rem;
}

.spinner {
  margin: 10rem;
  display: flex;
  justify-content: center;
  &__container {
    width: 4rem;
  }
}

.spinner path {
  fill: $color-white;
}
