@import "../../utilities/variables";

.base {
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 6rem;
}

.title,
.title span,
.title span span {
  display: inline-block;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 600;
}

.title span {
  letter-spacing: 0.4rem;
}

.title span span {
  color: #bd9cf3;
}

.btn {
  margin-top: 8rem;
  background-color: $color-primary;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem 5rem;
  width: 100%;
  text-align: center;
  box-shadow: 0rem 0rem 1rem 0rem #561bd7;
}

.noTodo {
  font-size: 1.6rem;
  text-align: center;
}
