@import "styles/utilities/variables";

.icon {
  font-size: 3rem;
}

.warning {
  background-color: $color-warning;

  &:hover {
    background-color: $color-warning-dark-1;
  }

  &:active {
    background-color: $color-warning-dark-2;
  }
}

.button {
  &__icon {
    padding: 0 2.4rem;
    width: auto;
    height: auto;
    border-start-start-radius: 0rem;
    border-end-start-radius: 0rem;
  }

  &__small {
    padding: 1rem 1rem;
    // display: block;
    background-color: $color-black;
    width: auto;

    &:hover {
      background-color: $color-black;
    }
    &:active {
      background-color: $color-black;
    }

    &__icon {
      transition: all 0.3s;
      font-size: 2rem;
      color: $color-white;
    }

    &__spinner {
      width: 2rem;
    }

    &__spinner path {
      fill: $color-white;
    }
  }
}
