.base button {
  margin-top: 6rem;
  margin-bottom: 16rem;
}

.base div form button {
  margin: 0;
}

.heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.error {
  color: #ea4435;
}

.success {
  color: #12b64e;
}
