@import "styles/utilities/variables";
@import "styles/utilities/breakpoints";
@import "components/Button/DefaultButton";

.buttonWithTextAndIcon {
  @include backgroundColorPrimary();
  @include ButtonDefault();
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i {
    font-size: 2.6rem;

    @include xs {
      font-size: 2.2rem;
    }
  }

  & svg {
    width: 2.6rem;
    padding: 0.2rem;

    @include xs {
      width: 2.2rem;
    }
  }
}
.warningBackground {
  @include backgroundColorWarning;
}
