@import "../../utilities/variables";

.base {
  font-size: 1.8rem;

  border-radius: 0.4rem;
  padding: 2rem 3rem;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  color: #121212;
  font-weight: 600;
}

.base i {
  font-size: 3rem;
  color: #121212;
}

.icon {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary {
  background-color: #bd9cf3;
  // box-shadow: 0rem 0rem 0.4rem 0rem #bd9cf3;
}

.primary:hover {
  background-color: #a172ef;
  // box-shadow: 0rem 0rem 0.8rem 0rem #a172ef;
}

.primary:active {
  background-color: #8a4feb;
  // box-shadow: 0rem 0rem 0.6rem 0rem #8a4feb;
}

.warning {
  background-color: #ea4335;
  box-shadow: 0rem 0rem 0.4rem 0rem #ea4335;
}

.warning:hover {
  background-color: #db3b34;
  box-shadow: 0rem 0rem 0.8rem 0rem #db3b34;
}

.warning:active {
  background-color: #c9312e;
  box-shadow: 0rem 0rem 0.6rem 0rem #c9312e;
}

.spinner {
  border: 0.4rem solid #fff;
  border-radius: 50%;
  border-top: 0.4rem solid rgba(255, 255, 255, 0);
  width: 2.4rem;
  height: 2.4rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.base:disabled {
  background-color: #7b7b7b;
  box-shadow: none;
}
