.base {
  display: flex;
  margin-bottom: 6rem;
}

.base .input {
  border-start-end-radius: 0rem;
  border-end-end-radius: 0rem;
  margin-bottom: 0;
  border-right: 0;
}

.base .button {
  padding: 0 2.4rem;
  width: auto;
  height: auto;
  border-start-start-radius: 0rem;
  border-end-start-radius: 0rem;
}

.base button i {
  font-size: 2.4rem;
}
