.base {
  margin-bottom: 3rem;
}

.label {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  font-weight: 400;
  display: inline-block;
}

.input {
  width: 100%;
  background-color: #222222;
  border: 0.2rem solid #434343;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  padding: 1.6rem 3rem;
  transition: all 0.2s;
  margin-bottom: 0.6rem;
}

.input::placeholder {
  color: #9f9f9f;
}

.input:focus {
  background-color: #292929;
  border-color: #8a4feb;
}

.helper {
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #9f9f9f;
}
