.base {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.spinner {
  border: 0.4rem solid #fff;
  border-radius: 50%;
  border-top: 0.4rem solid rgba(255, 255, 255, 0);
  width: 4rem;
  height: 4rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
