.base {
  padding: 1.6rem 2rem;
  width: 32rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.SUCCESS {
  background-color: #34a853;
}

.ERROR {
  background-color: #ea959b;
}

.bar {
  margin-top: 0.3rem;
  background-color: #121212;
  height: 0.3rem;
  border-radius: 0.4rem;
}
