.base {
  padding: 1.6rem;
  width: 30rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  transition: all 10s;
}

.SUCCESS {
  background-color: #34a853;
}

.ERROR {
  background-color: #ea4335;
}

.bar {
  margin-top: 0.4rem;
  background-color: #fff;
  height: 0.4rem;
  border-radius: 2rem;
}
