.base {
  padding: 2rem;
  width: 30rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

.progress {
  background-color: red;
  height: 1rem;
}

.SUCCESS {
  background-color: #34a853;
}

.ERROR {
  background-color: #ea4335;
}
