.base {
  border-radius: 0.4rem;
  margin: 4rem 0rem;
  display: flex;
  background-color: #121212;
  border: 0.2rem solid #262626;
  padding: 0 2rem;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s;
}

.task {
  background-color: #121212;
  outline: 0;
  width: 100%;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  padding: 1.8rem 2rem;
  border: 0;
}

.baseFocus {
  border-color: #b794f6;
}

.base button {
  background-color: #12121212;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.base button i {
  font-size: 2rem;
}

.base .left {
  margin-left: 2rem;
}

.base .boxDiv button i {
  transition: all 0.2s;
}

.close i {
  color: #ea959b;
}

.close i:hover {
  color: #de6c74;
}

.close i:active {
  color: #e84853;
}

.done i {
  color: #a2dbae;
}

.done i:hover {
  color: #7bce8e;
}

.done i:active {
  color: #5cc275;
}

.boxDiv {
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 0.3rem solid #fff;
  border-radius: 50%;
  border-top: 0.3rem solid rgba(255, 255, 255, 0);
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
