@import "styles/utilities/variables";

.base {
  border-radius: 0.4rem;
  margin: 4rem 0rem;
  display: flex;
  background-color: $color-black;
  border: 0.2rem solid $color-grey-4;
  padding: 0 2rem;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s;
}

.task {
  font-size: 1.6rem;
  padding: 1.8rem 2rem;
  border: 0;
}

.baseFocus {
  border-color: $color-primary-light;
}

.base button {
  background-color: $color-black;
  width: 2rem;
  height: 2rem;
}

.base button i {
  font-size: 2rem;
}

.base .left {
  margin-left: 1rem;
}

.base .boxDiv button i {
  transition: all 0.2s;
}

.close i {
  color: $color-warning;
}

.close i:hover {
  color: $color-warning-dark-1;
}

.close i:active {
  color: $color-warning-dark-2;
}

.done i {
  color: $color-success;
}

.done i:hover {
  color: $color-success-dark-1;
}

.done i:active {
  color: $color-success-dark-2;
}

.boxDiv {
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxDiv button {
  padding: 0;
}

.left button {
  padding: 0;
}

.spinner path {
  fill: $color-white;
}
