.base {
  border-radius: 0.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  background-color: #222222;
  border: 0.2rem solid #434343;
  padding: 0 2rem;
  flex-direction: row;
  align-items: center;
}

.task {
  background-color: #222222;
  outline: 0;
  width: 100%;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  padding: 1.6rem 2rem;
  transition: all 0.2s;
  border: 0;
}

.baseFocus {
  border: 0.2rem solid #8a4feb;
}

.base button {
  padding: 0.6rem 0.7rem;
  background-color: #222222;
  border-radius: 0.2rem;
  cursor: pointer;
}

.base button i {
  font-size: 2rem;
}

.close {
  margin-left: 1rem;
}

.close i {
  color: #ea4435;
}

.status {
}

.statusDiv {
  min-width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 0.3rem solid #fff;
  border-radius: 50%;
  border-top: 0.3rem solid rgba(255, 255, 255, 0);
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
