.base {
  display: flex;
  justify-content: space-between;
  margin: 6rem 4rem;
}

.base button {
  background-color: #121212;
  padding: 1.4rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #9d9d9d;
  display: flex;
  cursor: pointer;
  border: 0.2rem solid transparent;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.base button:hover {
  border: 0.2rem solid #262626;
  color: #d9d9d9;
}

.base button:active {
  color: #ffffff;
}

.base .active {
  background-color: #262626;
  color: #ffffff;
}
