@import "styles/utilities/variables";

.base {
  display: flex;
  justify-content: space-between;
  margin: 6rem 4rem;
}

.base button {
  width: auto;
  background-color: $color-black;
  padding: 1.4rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-grey-3;

  cursor: pointer;
  border: 0.2rem solid transparent;
}

.base button:hover {
  border: 0.2rem solid #262626;
  color: $color-grey-2;
}

.base button:active {
  color: $color-white;
}

.base .active {
  background-color: $color-grey-4;
  color: $color-white;
}
