@import "global/styles/utilities/variables";
@import "global/styles/utilities/breakpoints";

.container {
  height: 16rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  max-width: 80rem;
  padding: 0 4rem;
}

.logo,
.logo span {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
}

.logo span {
  color: $color-primary;
}

.logo:hover {
  letter-spacing: 0.4rem;
  color: $color-primary-light;
}

.logo:active {
  letter-spacing: 0.3rem;
  color: $color-primary;
}
