@import "global/styles/utilities/variables";

.container {
  height: 16rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  max-width: 80rem;
  padding: 0 4rem;
}

.logo,
.logo span {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
}

.logo span {
  color: $color-primary;
}

.logo:hover {
  letter-spacing: 0.4rem;
  color: $color-primary-dark-1;
}

.logo:active {
  letter-spacing: 0.3rem;
  color: $color-primary-dark-2;
}

.link ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 4rem;
  transition: all 0.3s;
  color: $color-grey-3;

  &:hover {
    color: $color-grey-2;
  }

  &:active {
    color: $color-grey-1;
  }
}

.link ul {
  cursor: pointer;
}

.link ul {
  display: flex;
  flex-direction: row;
}

.link ul button {
  margin-left: 1rem;
}

.link ul button i {
  font-size: 2.2rem;
}
