@import "styles/utilities/variables";
@import "styles/utilities/mixin";
@import "styles/utilities/breakpoints";
@import "../DefaultButton";

.ButtonWithIcon {
  padding: 1rem;
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 0.6rem;
  }

  & i {
    color: $color-grey-3;
    font-size: 2rem;

    @include xs {
      font-size: 1.6rem;
    }
  }

  & svg {
    width: 2rem;
    @include xs {
      width: 1.6rem;
    }
  }
}
