@import "styles/utilities/variables";
@import "styles/utilities/mixin";
@import "styles/utilities/breakpoints";
@import "../DefaultButton";

.ButtonWithIcon {
  padding: 1rem;
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;

  & i {
    color: $color-grey-3;
    font-size: 2rem;
  }

  & svg {
    width: 2rem;

    & path {
      fill: $color-white;
    }
  }
}
