* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins";
  color: $color-text-main;
}

body,
html {
  margin: 0 auto;
  padding: 0 16rem;
  max-width: 144rem;
  box-sizing: border-box;
  background-color: $color-background;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  margin-bottom: 8rem;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
  border: 0;
}

.icon {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
}

ul,
li {
  list-style-type: none;
}

button {
  outline: 0;
  border: 0;
  border-radius: 0;
}

h1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-size: 2rem;
  color: #9f9f9f;
}
