@import "styles/utilities/variables";

.container {
  position: absolute;
  top: 0;
  background-color: rgba($color-black, 0.4);
  height: 100%;
  width: 100%;
}

.progress {
  height: 0.4rem;
  width: 0;
  background-color: $color-primary;
  transition: all 0.3s;
}
