@import "styles/utilities/variables";

.base {
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo,
.logo span {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
}

.logo span {
  color: #bd9cf3;
}

.logo:hover {
  letter-spacing: 0.4rem;
  color: #d4bff9;
}

.logo:active {
  color: #b794f6;
  letter-spacing: 0.3rem;
}

.link ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 4rem;
  transition: all 0.3s;
  color: #9d9d9d;

  &:hover {
    color: #f5f5f5;
  }

  &:active {
    color: #d9d9d9;
  }
}

.link ul {
  cursor: pointer;
}

.link ul {
  display: flex;
  flex-direction: row;
}

.link ul button {
  margin-left: 1rem;
}

.link ul button i {
  font-size: 2.2rem;
}

.button {
  min-width: 4.4rem;
  min-height: 4.4rem;
  border: 0.2rem solid $color-black;
  border-radius: 100%;

  &:hover {
    border: 0.2rem solid $color-grey-4;
  }
}

.button svg {
  width: 2.2rem;
}

.button i {
  color: $color-grey-3;

  &:hover {
    color: $color-grey-2;
  }

  &:active {
    color: $color-grey-1;
  }
}
