@import "styles/utilities/variables";

.form {
  margin-bottom: 3rem;
}

.icon {
  &__check i {
    color: $color-primary;

    &:hover {
      color: $color-primary-dark-1;
    }

    &:active {
      color: $color-primary-dark-2;
    }
  }

  &__delete i {
    color: $color-warning;

    &:hover {
      color: $color-warning-dark-1;
    }

    &:active {
      color: $color-warning-dark-2;
    }
  }

  &__done i {
    color: $color-white;

    &:hover {
      color: $color-grey-2;
    }

    &:active {
      color: $color-grey-3;
    }
  }

  &__reset i {
    color: $color-success;

    &:hover {
      color: $color-success-dark-1;
    }

    &:active {
      color: $color-success-dark-2;
    }
  }
}
