@import "global/styles/utilities/variables";

.container {
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    margin-bottom: 6rem;
    font-size: 6.4rem;

    & span {
      font-size: 6.4rem;
      display: inline-block;
      text-align: center;
      font-weight: 600;
      letter-spacing: 0.4rem;

      & span {
        color: $color-primary;
      }
    }
  }
}
