@import "global/styles/utilities/variables";
@import "global/styles/utilities/breakpoints";

.menu {
  display: flex;
  justify-content: space-between;
  margin: 6rem 4rem;

  @include sm {
    margin: 6rem 0rem;
  }

  @include xs {
    margin: 2rem 0;
    flex-direction: column;
  }

  & input {
    display: none;
  }

  &_item {
    cursor: pointer;
    width: auto;
    border-radius: 0.4rem;
    background-color: $color-black;
    padding: 1.4rem 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-3;
    border: 0.2rem solid $color-black;
    transition: all 0.3s;

    @include sm {
      font-size: 1.5rem;
      padding: 1.2rem 2rem;
    }

    @include xs {
      text-align: center;
      margin-top: 2rem;
      padding: 1.4rem 3.2rem;
    }

    &:hover {
      color: $color-grey-2;
      border-color: $color-grey-4;
      background-color: $color-black;
    }

    &:active {
      color: $color-white;
      background-color: $color-black;
    }
  }

  &_active {
    color: $color-white;
    background-color: $color-grey-4;
    border: 0.2rem solid $color-grey-4;

    &:hover {
      background-color: $color-grey-4;
    }
  }
}
