@import "utilities/variables";

.base {
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 600;
}

.btn {
  margin-top: 8rem;
  background-color: $color-primary;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem 5rem;
  width: 100%;
  text-align: center;
}
