.primary {
  color: $color-primary;

  &:hover {
    color: $color-primary-dark-1;
  }

  &:active {
    color: $color-primary-dark-2;
  }
}

.white {
  color: $color-primary;

  &:hover {
    color: $color-primary-dark-1;
  }

  &:active {
    color: $color-primary-dark-2;
  }
}
