@import "global/styles/utilities/mixin";

.primary i {
  color: $color-primary;

  &:hover {
    color: $color-primary-dark-1;
  }

  &:active {
    color: $color-primary-dark-2;
  }
}

.white i {
  color: $color-grey-1;

  &:hover {
    color: $color-grey-2;
  }

  &:active {
    color: $color-grey-3;
  }
}

.green i {
  color: $color-success;

  &:hover {
    color: $color-success-dark-1;
  }

  &:active {
    color: $color-success-dark-2;
  }
}
