@import "styles/utilities/variables";
@import "styles/utilities/breakpoints";

.NoAuthLink {
  & a {
    color: $color-grey-3;
    font-size: 1.5rem;
    transition: all 0.3s;
    margin-left: 4rem;

    @include sm {
      font-size: 1.8rem;
      margin-left: 2rem;
    }

    @include xs {
      margin-left: 1rem;
      font-size: 1.4rem;
    }

    &:hover {
      color: $color-grey-2;
    }

    &:active {
      color: $color-grey-1;
    }
  }
}

.AuthLink {
  display: flex;

  & button {
    margin-left: 1rem;
    border: 0.2rem solid $color-black;
    border-radius: 100%;

    &:hover {
      border-color: $color-grey-4;

      & i {
        color: $color-grey-2;
      }
    }

    &:active i {
      color: $color-grey-1;
    }

    & i {
      font-size: 2rem;
    }

    svg {
      width: 2rem;
    }
  }
}
