@import "styles/utilities/variables";
@import "styles/utilities/breakpoints";
@import "styles/utilities/mixin";
@import "components/Input/DefaultInput";

.container {
  display: flex;
  margin-bottom: 0.8rem;

  & input {
    margin-bottom: 0;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    border-right: 0 !important;
  }

  & button {
    @include backgroundColorPrimary();
    padding: 0rem 2rem;
    border-radius: 0.4rem;
    border-end-start-radius: 0;
    border-start-start-radius: 0;

    @include xs {
      padding: 0rem 1.6rem;
    }

    & i {
      font-size: 2.4rem;
      color: $color-black;
    }
  }

  & svg {
    width: 2.4rem;
    padding: 0.1rem;

    & path {
      fill: $color-black;
    }
  }
}

.error {
  .container {
    & button {
      @include backgroundColorWarning;
    }
  }
}
