@import "../utilities/breakpoints";

* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins";
  color: $color-white;
}

body,
html {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $color-black;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  margin-bottom: 8rem;

  @include md {
    padding: 0 4rem;
  }

  @include sm {
    padding: 0 3rem;
  }

  @include xs {
    padding: 0 2rem;
  }

  &__error {
    margin-top: 20rem;
  }
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input {
  outline: none;
  background-color: $color-black;
  width: 100%;
  font-size: 1.6rem;
  border: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

ul,
li {
  list-style-type: none;
}

button {
  border: 0;
  border: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}

h1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;

  @include xs {
    font-size: 3rem;
  }
}

h3 {
  text-align: center;
  font-size: 2rem;
  color: $color-grey-3;

  @include xs {
    font-size: 1.6rem;
  }
}
.icon,
i {
  transition: all 0.3s;
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  color: $color-black;
}

.left {
  order: 1;
}

.right {
  display: flex;
  order: 3;
}
